.articleCard {
    border-radius: 8px;
    background-color: var(--UI-Light-6, rgba(255, 255, 255, 0.6));
    padding: 16px;
    margin-top: 8px;
  }
  
  .cardContent {
    display: flex;
    width: 100%;
    gap: 16px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .articleImage {
    aspect-ratio: 1.07;
    object-fit: contain;
    object-position: center;
    width: 195px;
    border-radius: 8px;
    align-self: flex-start;
  }
  
  .textContent {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    flex-basis: 0%;
  }
  
  .headerWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .articleHeader {
    align-self: flex-start;
    gap: 10px;
    font-size: 14px;
    white-space: nowrap;
    letter-spacing: -0.28px;
    line-height: 1.4;
  }
  
  .articleDescription {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.16px;
    margin-top: 8px;
  }
  
  .articleContent {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
    margin-top: 32px;
  }
  
  .articleLink {
    align-self: flex-start;
    display: flex;
    margin-top: 50px;
    min-height: 20px;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    white-space: nowrap;
    letter-spacing: -0.28px;
    line-height: 1.4;
    padding: 0 4px;
    text-decoration: none;
    color: inherit;
  }
  
  .linkIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    align-self: stretch;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .cardContent,
    .textContent,
    .headerWrapper,
    .articleDescription,
    .articleContent {
      max-width: 100%;
    }
  
    .articleHeader,
    .articleLink {
      white-space: initial;
    }
  
    .articleLink {
      margin-top: 40px;
    }
  }