.section {
    border-top: 1px solid #0003;
    padding: 32px 32px 64px;
  }
  
  @media (width <= 991px) {
    .section {
      padding: 24px;
    }
  }
  
  @media (width <= 640px) {
    .section {
      padding: 16px;
    }
  }
  
  .header {
    margin-bottom: 32px;
  }
  
  @media (width <= 991px) {
    .header {
      margin-bottom: 24px;
    }
  }
  
  .subtitle {
    letter-spacing: -1.44px;
    color: #0003;
    margin-bottom: 16px;
    font-family: Onest, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
  }
  
  @media (width <= 991px) {
    .subtitle {
      font-size: 36px;
    }
  }
  
  @media (width <= 640px) {
    .subtitle {
      font-size: 28px;
    }
  }
  
  .title {
    letter-spacing: -1.92px;
    color: #333;
    max-width: 664px;
    font-family: Onest, sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 90%;
  }
  
  @media (width <= 991px) {
    .title {
      font-size: 36px;
    }
  }
  
  @media (width <= 640px) {
    .title {
      font-size: 28px;
    }
  }
  
  .cardsContainer {
    gap: 16px;
    padding-bottom: 16px;
    display: flex;
    overflow-x: auto;
  }
  
  @media (width <= 991px) {
    .cardsContainer {
      flex-wrap: wrap;
      gap: 12px;
    }
  }
  
  @media (width <= 640px) {
    .cardsContainer {
      flex-direction: column;
    }
  }
  