.footer {
    justify-content: space-between;
    align-self: stretch;
    border-top: 1px solid var(--UI-Dark-2, rgba(0, 0, 0, 0.2));
    display: flex;
    flex-direction: column;
    padding: 32px;
  }
  
  @media (max-width: 991px) {
    .footer {
      padding: 0 20px;
    }
  }
  
  .logoWrapper {
    display: flex;
    width: 299px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
  }
  
  .logo {
    aspect-ratio: 2.78;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }
  
  .contentWrapper {
    display: flex;
    margin-top: 65px;
    width: 100%;
    align-items: start;
    gap: 40px 100px;
    color: #000000;
    letter-spacing: -0.16px;
    justify-content: space-between;
    flex-wrap: wrap;
    font: 400 16px/1.4 Onest, sans-serif;
  }
  
  @media (max-width: 991px) {
    .contentWrapper {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .column {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: center;
    width: 309px;
  }
  
  .columnTitle {
    leading-trim: both;
    text-edge: cap;
    align-self: start;
    min-height: 24px;
    gap: 2px;
    white-space: nowrap;
    padding: 0 8px;
  }
  
  @media (max-width: 991px) {
    .columnTitle {
      white-space: initial;
    }
  }
  
  .linkList {
    display: flex;
    margin-top: 4px;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  
  .link {
    leading-trim: both;
    text-edge: cap;
    align-self: stretch;
    min-height: 24px;
    gap: 2px;
    padding: 0 8px;
  }
  
  .linkWithIcon {
    display: flex;
    margin-top: 4px;
    min-height: 24px;
    align-items: center;
    gap: 2px;
    white-space: nowrap;
    justify-content: start;
    padding: 2px 8px;
  }
  
  @media (max-width: 991px) {
    .linkWithIcon {
      white-space: initial;
    }
  }
  
  .icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .linkText {
    leading-trim: both;
    text-edge: cap;
    align-self: stretch;
    margin: auto 0;
  }
  
  .bottomSection {
    display: flex;
    margin-top: 65px;
    width: 100%;
    align-items: end;
    gap: 32px;
    color: #000000;
    letter-spacing: -0.28px;
    justify-content: start;
    font: 400 14px/1.4 Onest, sans-serif;
  }
  
  @media (max-width: 991px) {
    .bottomSection {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .bottomWrapper {
    display: flex;
    min-width: 240px;
    width: 100%;
    align-items: center;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    flex-basis: 0%;
  }
  
  @media (max-width: 991px) {
    .bottomWrapper {
      max-width: 100%;
    }
  }
  
  .legalLinks {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: start;
    margin: auto 0;
  }
  
  .legalLink {
    leading-trim: both;
    text-edge: cap;
    align-self: stretch;
    min-height: 20px;
    gap: 2px;
    margin: auto 0;
    padding: 5px 4px;
  }
  
  .copyright {
    leading-trim: both;
    text-edge: cap;
    align-self: stretch;
    min-height: 24px;
    gap: 2px;
    margin: auto 0;
    padding: 0 8px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }