.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 32px 32px 64px;
  }
  
  .articleBody {
    color: #4d4d4d;
    letter-spacing: -0.48px;
    width: 664px;
    max-width: 100%;
    font-family:
      Onest,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 24px;
    font-weight: 400;
  }
  
  .subtitle {
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.16px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
  }
  
  .body {
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.16px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 22px;
  }
  
  .body p + p {
    margin-top: 1em;
  }
  
  .articleImageHighlight {
    color: #000;
    letter-spacing: -0.28px;
    width: 1122px;
    max-width: 100%;
    margin: 64px 0 0;
    font-family:
      Onest,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }
  
  .placeholderImage {
    background-color: #e5e5e5;
    border-radius: 8px;
    width: 100%;
    min-height: 512px;
    display: flex;
  }
  
  @media (width <= 991px) {
    .content {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .subtitle,
    .body {
      max-width: 100%;
    }
  
    .articleImageHighlight {
      margin-top: 40px;
    }
  
    .placeholderImage {
      max-width: 100%;
    }
  }
  