.quoteContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 894px;
    max-width: 100%;
    margin-top: 64px;
    font-family:
      Onest,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
  }
  
  .quote {
    color: #333;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -1.44px;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
  }
  
  .source {
    color: gray;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.16px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  }
  
  @media (width <= 991px) {
    .quoteContainer {
      margin-top: 40px;
    }
  
    .quote {
      max-width: 100%;
      font-size: 40px;
      line-height: 45px;
    }
  
    .source {
      max-width: 100%;
    }
  }
  